<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Post in detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <style>
        body {
            margin: 0 20px 0 25px;
            padding: 20px;
            gap: 20px;
        }
        .post {
            /* padding:20px; */
            margin-top: 20px;
            /* width: 40%; */
        }
    </style>
    <div class="header">
        <h1><a href="/posts">Qoura Posts</a></h1>
    </div>
    <h2>Here is post in detail.</h2>
    <p>Post id:<%=post.id %>
    </p>
    <div class="post">
        <h3 class="user">@<%=post.username %>
        </h3>
        <h4 class="content">
            <%=post.content %>
        </h4>
        <div class="edbtn">
            <a href="/posts/<%=post.id%>/edit">Edit Post</a>
            <form action="/posts/<%=post.id%>?_method=DELETE" method="post">
                <button>Delete Post</button>
            </form>
        </div>
    </div>
</body>
</html>